<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a basketball team!</h1>
   <form class="POST"  method="post">
     <p>Team Name<input type="text" name="team_name"></p>
     <p>Coach <input type="text" name="coach"></p>
     <p>Point Guard <input type="text" name="pg"></p>
     <p>Shooting Guard</p>
     <p>Small Forward</p>
     <p>Power Forward</p>
     <p>Center</p>
   </form>
 </body>
</html>
